<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999314190588-nc9mcpkieqvbetib6mdpglf8fidikohr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999314190588-nc9mcpkieqvbetib6mdpglf8fidikohr</string>
	<key>API_KEY</key>
	<string>AIzaSyBmL_ADzO8A3c2d24Kmk1QJAxB82kEk57Y</string>
	<key>GCM_SENDER_ID</key>
	<string>999314190588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagram</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-4dfa0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-4dfa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999314190588:ios:2f7f71367f9722db1fa779</string>
</dict>
</plist>